<div class="products">
    <div class="product" *ngFor="let item of items">
        <mat-card>
        <p>{{item.title}}</p>
        <p>$ <strong>{{item.price}}</strong></p>
        <img src={}>
        <button (click)="addToCart">Add to Cart </button>
        </mat-card>
</div>

